/*!
 * Custom attributes override
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
body {
	padding-top: 54px;
}

.input-xxxlarge {
  width: 676px;
}

.input-select-xxlarge {
  width: 340px;
}


.input-select-xxxlarge {
  width: 689px;
}

.input-premedium {
  width: 138px;
}




.dropdown-menu li > a {
  color: #333333;
}


.navbar {
  margin-bottom: 0px;
}

.span6 h3 {
	font-family: "Trebuchet MS", "Times New Roman", Tahoma, Arial;
	font-weight: bold;
	color: #606060;
}

#footer {
	clear: both;
	width: 100%;
	background-color: #696969;
	border-top: 3px solid #555;
	height: 60px;
	position: fixed;
	bottom: 0;
}

#footer .links {
	margin: 5px auto;
	text-align: center;
}

#footer .links a{
	font-family: Calibri, Tahoma, Arial;
	font-size: 18px;
	color: white;
}

#footer .links a:hover {
	color: #ddd;
	text-decoration: none;
}

#footer .copyright {
	font-family: "Arial Narrow", Calibri, Arial, Helvetica;
	font-size: 14px;
	color: white;
	text-align: center;
}

.grupbox {
	background-color: #e5e5e5; 
	border: 1px solid #bbb;

}

.grup {
	text-align: left;
	padding: 0px 10px 0px 0px;
	display: inline-block;
}

.input-x-mediumlarge {
	width: 490px;
}

.input-medium-plus {
	width: 160px;
}

.necompletat label,
{
	color: red;
}

.cauta {
	clear: both;
}

.cauta .btn {
	margin-bottom: 10px;
	
}

.outlined {
	border: 1px solid #bbb;
}

table.table {
	font-size: 13px;
}

table.bluehead thead tr th {
	color:#0088CC;
}

td span.clinica {
	font-size: 0.9em;
	color: #666;
}

table.table tbody tr td.dt {
	width: 220px;
	text-align: right;
	color: white;
	background: #3187ce;
	font-weight: bold;
}

table.table tbody tr td.necompletat
{
	color: red;
}

table.table tbody tr.strong td {
	font-weight: bold;
} 

div.subnav {
  background-color: #dfdfdf;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  position: relative;
  top: -10px;
}


div.subnav ul {
	margin: 0;
	padding: 0;
}

div.subnav ul li {
	margin: 0;
	padding: 0;
}


div.subnav .nav {
  background-color: transparent;
  margin-left: 45px;
}

div.subnav .nav > li > a {
  border-color: transparent;
}
div.subnav .nav > .active > a,
div.subnav .nav > .active > a:hover {
  border-color: transparent;
  background-color: #000000;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav .open .dropdown-toggle,
.nav  > li.dropdown.open.active > a:hover {
  color: #007fff;
}
.nav-tabs  > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked  > li > a:hover {
  background-color: #007fff;
  color: #ffffff;
}
.nav-tabs.nav-stacked  > .active > a,
.nav-tabs.nav-stacked  > .active > a:hover {
  background-color: #ffffff;
  color: #bbbbbb;
}
.nav-tabs.nav-stacked  > li:first-child > a,
.nav-tabs.nav-stacked  > li:last-child > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tabs-below  > .nav-tabs > li > a,
.tabs-left  > .nav-tabs > li > a,
.tabs-right  > .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-pills  > li > a {
  background-color: #dfdfdf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000000;
}
.nav-pills  > li > a:hover {
  background-color: #000000;
  color: #ffffff;
}
.nav-pills  > .disabled > a,
.nav-pills  > .disabled > a:hover {
  background-color: #eeeeee;
  color: #999999;
}
.nav-list  > li > a {
  color: #080808;
}
.nav-list  > li > a:hover {
  background-color: #007fff;
  color: #ffffff;
  text-shadow: none;
}
.nav-list .nav-header {
  color: #080808;
}
.nav-list .divider {
  background-color: #bbbbbb;
  border-bottom: none;
}

.minus25top {
  position: relative;
  top: -25px;
}

.minus50top {
  position: relative;
  top: -80px;
}

a.amsg {
	color: black;
}

.msgwrapper {
	display: none;
	font-size: 11px;
	color: #666;
	padding: 5px 5px 5px 5px;
	text-indent: 20px;
	font-weight: normal;
	border: 1px dashed #ccc;
	background-color: #e5e5e5;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  /* background-color: #f9f9f9; */
  background-color: #e5e5e5;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  /* background-color: #f5f5f5; */
  background-color: #B0C6FF;
}

form.stil1 select,
form.stil1 input,
form.stil1 select option
{
	font-size: 12px;	
}

}

